#navbar {
    display: flex;
    justify-content: space-evenly;
    background: #78a3ad;
    padding: 30px 0;
    align-items: center;
    margin-bottom: 50px;
    color: #eff9ff;
    font-size: 28px;
}
  
#navbar a {
    color: #eff5ff;
    text-decoration: none;
    font-size: 35px;
    transition: color 0.2s;
}
  
#navbar a:hover {
    color: #d9dff2;
}